@page {
  size: A2;
  margin: 0 !important;
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #FFFFFF !important;
}
.PageContainer {
  background-color: #FFFFFF !important;
  width: 1502px !important;
  height: 1106px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  position: relative !important;
}
img, div, p, span {
  margin: 0 !important;
  padding: 0 !important;
}
